/* 
    Document   : style
    Created on : 10/08/2014, 18:06:43
    Author     : Juan Ramos

*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?oavi8');
    src:url('fonts/icomoon.eot?#iefixoavi8') format('embedded-opentype'),
    url('fonts/icomoon.woff?oavi8') format('woff'),
    url('fonts/icomoon.ttf?oavi8') format('truetype'),
    url('fonts/icomoon.svg?oavi8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
    content: "\e601";
}
.icon-facebook:before {
    content: "\e602";
}
.icon-twitter:before {
    content: "\e603";
}
.icon-youtube:before {
    content: "\e604";
}
.icon-pinterest:before {
    content: "\e600";
}


*:focus {
    outline: 0;
}
a {
    text-decoration: none;
}
body {
    background: #000;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}
body, h2, h3, h4, p {
    font-weight: 300
}
*:focus {
    outline: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, ul, p{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*=================================================================
Background
===================================================================*/

#slide-mm{
    background: url("../images/banner/fondo.jpg") center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#slide-mm .logo-q{
    max-height: 60%;
}
#slide-mm .slide-contend{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    bottom: -117%;
    color: #ffffff;
    position: absolute;
    right: 118px;
    text-align: center;
    width: 545px;

}
#slide-mm h2{
    font-size: 2.0625em;
    margin: 17px 0 5px;
}
#slide-mm h3{
    font-size: 1.1875em;
    margin-bottom: 11px;
}
#slide-mm p{
    font-size: 0.875em;
    margin: 0 auto 30px;
    width: 400px;
    line-height: 19px;
}
#slide-mm li{
    display: none;
}
#slide-mm .select-li{
    display: block;
}
#nav-slide{
    bottom: 75px;
    position: absolute;
    right: 125px;
    text-align: center;
    width: 530px;
    z-index: 2;
}
#nav-slide li {
    background-color: #ffffff;
    border: 1px solid #555555;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 8px;
}
#nav-slide li:hover, #nav-slide li.selected{
    background-color: #555555;
    border-color: #ffffff;
}
#nav-slide li.selected{

}
/*=================================================================
Nav
===================================================================*/
#nav-container{
    background: url("../images/textura-menu.png");
    font-size: .9em;
    height: 100%;
    left: 40px;
    padding: 10px;
    position: absolute;
    width: 210px;
    text-align: center;
    top: 0;
    z-index: 2;
}
#nav-container h1{
    margin: 45px 0 20px;
}
#nav-container h1 img{
    width: 165px;
}
#nav-container hr{
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-bottom: transparent;
    width: 90%;
}
#nav-container a{
    color: #D5D5D5;
}

#nav-container .lang{
    font-size: .75em;
    text-align: right;
}
#nav-container .lang a{
    color: #b0b0b0;
    padding-right: 5px;
}
#nav-container .lang a:hover{
    color: #ffffff;
}
#nav li a{
    color: #d5d5d5;
}
#nav .arrow{
    font-size: .6rem;
    position: absolute;
    right: 0;
    top: 10px;
}
#nav li{
    margin: 0 auto;
    position: relative;
    padding: 9px 16px;
    text-align: left;
    width: 150px;
}
#nav li:hover{
    background: #29292b;
}
#nav li:hover .submenu{
    display: block;

}
#nav .submenu{
    background: #29292b;
    display: none;
    left: 100%;
    position: absolute;
    top: -20px;
    width: 180px;
}
#nav .submenu li{
    padding: 12px 30px;
    width: auto;
    margin: 0 auto;
}
#nav .submenu li a{
    font-size: 1.1rem;
}
#nav .submenu li a span{
    display: block;
    font-size: .8rem;
}
#nav .submenu li:hover{
    background: #474747;
}
#shopping{
    color: #d5d5d5;
    margin: 15px 0;
}
#shopping .shopping-contend{
    color: #d5d5d5;
    margin: 15px 0;
}
#shopping .shopping-contend span{
    color: #949494;
    display: inline-block;
    font-size: .75rem;
    margin-left: -3px;

    width: 36%;
}
#register{
    color: #d5d5d5;
    margin: 10px 0;
    width: 135px;
}

/*=================================================================
header
===================================================================*/


/*=================================================================
Footer
===================================================================*/

/*=================================================================
state
===================================================================*/
#slide-mm .slide-contend.show-move
{
    -webkit-animation: move-new .5s ease forwards;
    -moz-animation: move-new .5s ease forwards;
    -ms-animation: move-new .5s ease forwards;
    -o-animation: move-new .5s ease forwards;
    animation: move-new .5s ease forwards;

}
#slide-mm .slide-contend.hidden-move
{
    -webkit-animation: move-reverse .5s ease forwards;
    -moz-animation: move-reverse .5s ease forwards;
    -ms-animation: move-reverse .5s ease forwards;
    -o-animation: move-reverse  .5s ease forwards;
    animation:  move-reverse  .5s ease forwards;

}
#slide-mm .slide-contend.show-log
{
    -webkit-animation:  move-log .5s ease forwards;
    -moz-animation:  move-log .5s ease forwards;
    -ms-animation:  move-log .5s ease forwards;
    -o-animation:  move-log .5s ease forwards;
    animation:  move-log .5s ease forwards;

}
#slide-mm .slide-contend.hidden-log
{
    -webkit-animation:  move-log-reverse .5s ease forwards;
    -moz-animation:  move-log-reverse .5s ease forwards;
    -ms-animation:  move-log-reverse .5s ease forwards;
    -o-animation:  move-log-reverse  .5s ease forwards;
    animation:   move-log-reverse  .5s ease forwards;

}


/* animation */
@-webkit-keyframes move-new {
    from{ bottom: -100%; }
    to { bottom: 117px; }
}

@-moz-keyframes move-new {
    from{ bottom: -100%; }
    to { bottom: 117px;  }
}

@-ms-keyframes move-new {
    from{ bottom: -100%; }
    to { bottom: 117px;  }
}

@-o-keyframes move-new {
    from{ bottom: -100%; }
    to { bottom: 117px;  }
}

@keyframes move-new {
    from{ bottom: -100%; }
    to { bottom: 117px;  }
}
@-webkit-keyframes move-reverse {
    from{bottom: 117px;}
    to { bottom: -100%; }
}

@-moz-keyframes move-reverse {
    from{bottom: 117px;}
    to { bottom: -100%;  }
}

@-ms-keyframes move-reverse {
    from{bottom: 117px;}
    to { bottom: -100%;  }
}

@-o-keyframes move-reverse {
    from{bottom: 117px;}
    to { bottom: -100%;  }
}

@keyframes move-reverse {
    from{bottom: 117px;}
    to { bottom: -100%;  }
}




/* animation fig */
@-webkit-keyframes move-log {
    from{ left: 0; }
    to { left: -100%; }
}

@-moz-keyframes mov-loge {
    from{ left: 0; }
    to { left: -100%; }
}

@-ms-keyframes move-log {
    from{ left: 0; }
    to { left: -100%; }
}

@-o-keyframes move-log {
    from{ left: 0; }
    to { left: -100%; }
}

@keyframes move-log {
    from{ left: 0; }
    to { left: -100%; }
}
@-webkit-keyframes move-log-reverse {
    from{bottom: 117px;}
    to { bottom: -100%; }
}

@-moz-keyframes move-log-reverse {
    from{ left: 0; }
    to { left: -100%; }
}

@-ms-keyframes move-log-reverse {
    from{bottom: 117px;}
    to { bottom: -100%;  }
}

@-o-keyframes move-log-reverse {
    from{bottom: 117px;}
    to { bottom: -100%;  }
}

@keyframes move-log-reverse {
    from{bottom: 117px;}
    to { bottom: -100%;  }
}
.footer-container{
    display: none;
}

.logo-fig{
    position: absolute;
}
.show-izq{
    -webkit-animation: move-izq .7s ease forwards;
    -moz-animation: move-izq .7s ease forwards;
    -ms-animation: move-izq .7s ease forwards;
    -o-animation: move-izq .7s ease forwards;
    animation: move-izq .7s ease forwards;
}
.show-izq-hidden{
    -webkit-animation: move-izq-hidden .7s ease forwards;
    -moz-animation: move-izq-hidden .7s ease forwards;
    -ms-animation: move-izq-hidden .7s ease forwards;
    -o-animation: move-izq-hidden .7s ease forwards;
    animation: move-izq-hidden .7s ease forwards;
}
@-webkit-keyframes move-izq{
    from{ left: -100%; }
    to { left: 0; }
}

@-moz-keyframes move-izq {
    from{ left: -100%; }
    to { left: 0; }
}

@-ms-keyframes move-izq {
    from {left: -100%; }
    to {left: 0;}
}
@-webkit-keyframes move-izq-hidden{
    from{ left: 0; }
    to { left: -100%; }
}

@-moz-keyframes move-izq-hidden {
    from{ left: 0; }
    to { left: -100%; }
}

@-ms-keyframes move-izq-hidden {
    from{ left: 0; }
    to { left: -100%; }
}

@media (max-width: 700px) {
    .slide-contend{
        margin-right: -273px !important;
        right: 50% !important;

    }
    #nav-slide{
        right: 0;
        width: 100%;
    }
}